body{
    background-image: url('img/foto191.jpg');
    background-size: cover;
}

.carousel-item img{
    width:650px;
    height: 790px;
}

.h3{
    color: white;
    font-size: 32pt;
    padding-bottom: 10px;
}


.carousel-caption{
    background-color: black;
    opacity: 0.8;
    padding: 20px;
    left: 5%;
    right: 5%;
    font-size: 13pt;
}

h5{
    font-size: 16pt;
}

.ts1{
    width: 230px;
    height: 300px;
}

ul{
    margin-top: 50px;
}

h3{
    text-align: center;
}

.modal img{
    width: 100%;
    height: auto;
}

#carousel2{
    width: 100%;
}

#carousel2 img{
    width: 100%;
}

.modal p{
    font-size: 13pt;
}

.back-to-home{
    width: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
   
}

.backward{
    width: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.back a{
    color: white;
    font-size: 16pt;
    font-family:cursive;
    margin-right: 50px;
}

.back a:hover{
   text-decoration: none; 
    color: white;
}

.back img{
    height: auto;
}

.back {
    margin-left: 30px;
}